
.header {
    background:url("http://www.noticiasgalicia.com/media/k2/items/cache/5f84eed9fe9260d328dda2ec5fa628c8_XL.jpg");
    color:white;
    padding:15px;
    width:100%;
    text-align:center;
    text-shadow:4px 4px 15px rgb(2, 2, 20);;
  }

  .add-train,.train-schedule {
    box-shadow:4px 4px 10px rgb(4, 4, 54);
    margin-top:10px;
  }

  .train-schedule {
    display:none;
  }

  .header-small {
    background:rgb(4, 4, 80);
    color:white;
    padding:10px;
    padding-left:20px;
}

  .form-group {
    padding-left:20px;
    padding-right:20px;
  }

  .submit-button{
    margin-left:20px;
    margin-bottom:20px;
    background:rgb(4, 4, 80);
  }
  td, th{
    padding-left:25px;
    padding-right:25px;
  }

th{
  font-weight:bold;
  font-size:18px;
}
